
.App {
  text-align: center;
  font-size: 2vw;
}

.App-header {
  background-color: peru;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


@media screen and (max-width: 768px) {
  .App-header {
    font-size: 1.5rem; 
  }
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}